.DS_Store
**/.DS_Store

# Terraform provider binaries and state — NEVER commit these
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars

# Terraform provider binaries and state
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
